project: project_name
git_clone: git://master_hostname/and/path
code: kowalski
runners:
  user: kowalski
  hostnames:
    - localhost
    - runner1
    - runner2
  hooks:
    after_down: "rm -rf ~/kowalski/tmp"
    after_update: "thor config:kowalski"
master:
  username: kowalski
  hostname: localhost
  sinatra_path: ~/path/to/sinatra/app
  main_path: ~/path/that/includes/project/on/master
  hooks:
    before_down: "echo 'runners are going down'"
    after_up: "echo 'runners are back up'"
  spec_folders:
    - controllers
    - helpers
    - lib
    - models
    - routing
    - views
services:
  mongo:
    version: 1.6.5
    install:
      - "curl -s http://downloads.mongodb.org/linux/mongodb-linux-i686-static-1.6.5.tgz > mongo.tgz"
      - "tar zxf mongo.tgz"
      - "rm mongo.tgz"
      - "mv mongodb-linux-i686-static-1.6.5 mongo"
  redis:
    version: 2.1.5.sinit
    install:
      - "git clone git://github.com/ctrochalakis/redis-sinit.git"
      - "cd redis-sinit"
      - "make"
load_balance_start: 1.5
parallel: false
